.folder {
    background-image: url("https://user-images.githubusercontent.com/10094591/29320131-3b52ebd2-8211-11e7-880b-7014a2f95f33.jpg");
    height: 45vw;
    padding: 10px;
    overflow-y: scroll;
}

.folder-title {
    color: grey;
}

.folder-col {
    margin: 0px;
    padding: 0px;
    padding-right: 10px;
}

.folder-col img {
    width: 100%;
    padding-bottom: 10px;
}
